<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj Klienta</title>
</head>
<body>
<h1>Dodaj Kienta</h1>

<main>
    <div id="tabelaDodawania">

        <form th:action="@{/clients/clients}" th:object="${addedClient}" method="post">


            <table>
                <tr>
                    <td>Imie</td>
                    <td>
                        <input type="text" th:field="*{name}"/>
                    </td>
                </tr>
                <tr>
                    <td>Nazwisko</td>
                    <td>
                        <input type="text" th:field="*{lastName}"/>
                    </td>
                </tr>
                <tr>
                    <td>Adres</td>
                    <td>
                        <input type="text" th:field="*{adress}"/>
                    </td>
                </tr>
                <tr>
                    <td>NIP</td>
                    <td>
                        <input type="text" th:field="*{NIP}"/>
                    </td>
                </tr>
                <tr>
                    <td>Pesel</td>
                    <td>
                        <input type="text" th:field="*{Pesel}"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Dodaj klienta" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</main>

</body>
</html>