<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj samochód</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav id="MENU">Menu nawigacyjne
        <div id="UserMenu" >
            <h1>menu użytkownika</h1><br>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
        </div>

        <div id="AdminMenu">
            <h1>menu admina</h1>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
            <a href="../workers/new">dodaj pracownika</a><br>
            <a href="../clients/new">dodaj klienta</a><br>

        </div>
    </nav>
    <aside id="INFORMACJE">Dodaj Samochód</aside>
    <article id="TRESC">
        <main>
            <div id="tabelaDodawania">

                <form th:action="@{/vehicles/vehicles}" th:object="${addedvehicle}" method="post">

<table>
                    <tr>
                        <td>Data produkcji</td>
                        <td>
                            <input type="number" th:field="*{ProductionDate}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>marka</td>
                        <td>
                            <select th:field="*{manufacturer}" th:name="manufacturer">
                                <option value="">wybierz...</option>
                                <option th:each="manufacturer : ${manufacturersList}"
                                        th:value="${manufacturer.id}"
                                        th:text="${manufacturer.name}"></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>model</td>
                        <td>
                            <input type="text" th:field="*{model}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>numer OC</td>
                        <td>
                            <input type="text" th:field="*{OCNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>numer dowodu rejestracyjnego</td>
                        <td>
                            <input type="text" th:field="*{IDNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>rodzaj paliwa</td>
                        <td>
                            <select th:field="*{fuel}" th:name="fuel">
                                <option value="">wybierz...</option>
                                <option th:each="fuel : ${fuelsList}"
                                        th:value="${fuel.id}"
                                        th:text="${fuel.Type}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>przebieg</td>
                        <td>
                            <input type="text" th:field="*{milage}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>silnik</td>
                        <td>
                            <input type="text" th:field="*{engine}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>moc</td>
                        <td>
                            <input type="text" th:field="*{power}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>skrzynia biegów</td>
                        <td>
                            <input type="text" th:field="*{gearbox}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>dodatkowy opis</td>
                        <td>
                            <input type="text" th:field="*{desctipton}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>ilość jazd testowych</td>
                        <td>
                            <input type="text" th:field="*{TestDrives}"/>
                        </td>
                    </tr>
    <tr>
        <td>Cena zakupu</td>
        <td>
            <input type="text" th:field="*{boughtPrice}"/>
        </td>
    </tr>

                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Dodaj Samochód"/>
                        </td>
                    </tr>
                    </table>
                </form>
            </div>
        </main>
    </article>
    <footer id="STOPKA">Stopka serwisu</footer>
</div>
</body>
</html>