<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj pracownika</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav id="MENU">Menu nawigacyjne
        <div id="UserMenu" >
            <h1>menu użytkownika</h1><br>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
        </div>

        <div id="AdminMenu">
            <h1>menu admina</h1>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
            <a href="../workers/new">dodaj pracownika</a><br>
            <a href="../clients/new">dodaj klienta</a><br>

        </div>
    </nav>
    <aside id="INFORMACJE">Dodaj Pracownika</aside>
    <article id="TRESC">
        <main>
            <div id="tabelaDodawania">


<form th:action="@{/workers/workers}" th:object="${addedWorker}" method="post">


    <table>
        <tr>
            <td>Imie</td>
            <td>
                <input type="text" th:field="*{name}"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>Nazwisko</td>
            <td>
                <input type="text" th:field="*{lastName}"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            </td>
        </tr>
        <tr>
            <td>Adres</td>
            <td>
                <input type="text" th:field="*{adress}"/>
                <span th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"/>
            </td>
        </tr>
        <tr>
            <td>data zatrudnienia</td>
            <td>
                <input type="date" th:field="*{hireDate}"/>
                <span th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"/>
            </td>
        </tr>
        <tr>
            <td>Stanowisko</td>

                <!--<input type="text" th:field="*{roles}"/>-->
            <td>
                <select th:field="*{roles}" th:name="roles">
                    <option th:each="roles : ${availableRoles}"
                            th:value="${roles.id}"
                            th:text="${roles.role}"></option>

                </select>
            <span th:if="${error!=null}" th:text="${error}"/>
            <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"/>
                <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"/>
            </td>
            <span th:if="${error!=null}" th:text="${error}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Dodaj pracownika" />
            </td>
        </tr>
    </table>
</form>
    </div>
</main>
    </article>
    <footer id="STOPKA">Stopka serwisu</footer>
</div>

</body>
</html>