<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lista Samochodów</title>
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav id="MENU">Menu nawigacyjne</nav>
    <aside id="INFORMACJE">Lista dostępnych pojazdów</aside>
    <article id="TRESC">
        <main>
            <div id="lista">
<table>
    <tr>
        <th>Id</th>
        <th>ProductionDate</th>
        <th>manufacturer</th>
        <th>model</th>
        <th>milage</th>


    </tr>
    <tr th:each="vehicle , iterationInfo : ${vehiclesList}">
        <td th:text="${vehicle.id}"/>
        <td th:text="${vehicle.ProductionDate}"/>
        <td th:text="${vehicle.manufacturer}"/>
        <td th:text="${vehicle.model}"/>
        <td th:text="${vehicle.milage}"/>


        <td th:text="${iterationInfo.count + ' of total ' + iterationInfo.size}"/>
        <td><a th:href="@{/sells/sell}" th:text="sprzedaj"/></td>
        <td><a th:href="@{/vehicles/{vehId}/(vehId=${vehicle.id})}" th:text="szczegóły"/></td>
    </tr>
</table>
            </div>
        </main>
    </article>
    <footer id="STOPKA">Stopka serwisu</footer>
            </div>
</body>
</html>