<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Sells</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav id="MENU">Menu nawigacyjne
        <div id="UserMenu" >
            <h1>menu użytkownika</h1><br>
            <a href="vehicles/">lista dostępnych samochodów</a><br>
            <a href="vehicles/new">dodaj samochód</a><br>
        </div>

        <div id="AdminMenu">
            <h1>menu admina</h1>
            <a href="vehicles/">lista dostępnych samochodów</a><br>
            <a href="vehicles/new">dodaj samochód</a><br>
            <a href="workers/new">dodaj pracownika</a><br>
            <a href="clients/new">dodaj klienta</a><br>

        </div>
    </nav>

    </nav>
    <aside id="INFORMACJE">Strona główna</aside>
    <article id="TRESC">
        <h4>Witaj na Stronie komisu</h4>
    </article>
    <footer id="STOPKA">Stopka serwisu</footer>

</div>

</body>
</html>