<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Workers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div id="top">
    <header id="NAGLOWEK"></header>
    <nav id="MENU">Menu nawigacyjne
        <div id="UserMenu" >
            <h1>menu użytkownika</h1><br>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
        </div>

        <div id="AdminMenu">
            <h1>menu admina</h1>
            <a href="../vehicles">lista dostępnych samochodów</a><br>
            <a href="../vehicles/new">dodaj samochód</a><br>
            <a href="../workers/new">dodaj pracownika</a><br>
            <a href="../clients/new">dodaj klienta</a><br>

        </div>
    </nav>
    <aside id="INFORMACJE">Lista pracowników</aside>
    <article id="TRESC">

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Adress</th>
        <th>Hire date</th>
        <th>Roles</th>

    </tr>
    <tr th:each="worker , iterationInfo : ${workersList}">
        <td th:text="${worker.id}"/>
        <td th:text="${worker.name}"/>
        <td th:text="${worker.lastName}"/>
        <td th:text="${worker.adress}"/>
        <td th:text="${worker.hireDate}"/>
        <td th:text="${worker.roles}"/>

        <td th:text="${iterationInfo.count + ' of total ' + iterationInfo.size}"/>
        <td><a th:href="@{/workers/fire/{workerId} (workerId=${worker.id})}" th:text="fire"/></td>
    </tr>
</table>

    </article>
    <footer id="STOPKA">Stopka serwisu</footer>

</div>
</body>
</html>